body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header{
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2{
    text-align: center;
    color: #333;
}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}


.btn:hover{
    background-color: #0056b3;
}


#blog-posts{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
.post{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.post:hover{
    transform: translateY(-5px);
}

.post small{
    color: #888;
    text-align: right;
    font-size: 0.9em;
    margin-bottom: 10px;
}


textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
}

input:focus, textarea:focus {
   outline: none;
   border-color: #007BFF;   
   box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (max-width: 600px) {
    header{
        padding: 10px;
    }
    #blog-posts{
        grid-template-columns: 1fr;
    }
}